---
layout: base
---
<nav class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-th"></span>
      </button>
      <a href="/"><img class="center-block" style="padding-right:50px" src="{{ site.image-server-url }}/img/nav-spira.svg" alt="[ SPIRA ]"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/trips-toc/"><span class="glyphicon glyphicon-globe"></span>&nbsp; Voyages</a>
        </li>
        <li>
          <a href="/pictures-toc/"><span class="glyphicon glyphicon-camera"></span>&nbsp; Photos</a>
        </li>
        <li>
          <a href="/drawings-toc/"><span class="glyphicon glyphicon-pencil"></span>&nbsp; Dessins</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>

{{ content }}

<footer class="bs-docs-footer">
  <ul class="bs-docs-footer-links muted">
    <li>&copy; Spira 2014 - 2017</li>
  </ul>
</footer>

{% include analytics.html %}

<script src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/js/sidetoc.js"></script>
<script>
$(".nav-wrapper").height($(".nav").height());
</script>
