---
layout: default
---
<div id="main" role="main" class="container main-container mt-2">
  <div class="row ml-2 mr-2">
    <!-- Article Content -->
    <div class="col-md-12" role="main" id="article-content">
      <div class="bs-docs-section pb-2">
        <h1>{{ page.title }}</h1>
        <a href="{{ site.image-server-url }}/img/{{ page.url }}/main.jpg">
          <img src="{{ site.image-server-url }}/img/{{ page.url }}/600x600.jpg" class="img-responsive center-block">
        </a>
      </div>
    </div>
  </div>
</div>
